@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    height: 200vh;
    width: 100%;
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, gray, white);
}

#logo {
    margin-top: 100px;
    margin-bottom: 50px;
}

#description {
    margin-bottom: 25px;
}

#download {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 25px;
  margin: 0 auto;
}

#download:hover {
    background: black;
    cursor: pointer;
}

#download:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#tos {
    font-size: small;
    margin: 50px;
}

img {
    margin: 0 auto;
}

#preview {
    width: 70%;
    height: 90%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px) scale(1.05);
}

#freely {
    width: 60%;
    height: 80%;
    margin-top: 200px;
}

#management {
    width: 20%;
    height: 40%;
    margin-top: 100px;
}

#lightweight {
    width: 60%;
    height: 80%;
    margin-top: 100px;
}

#changes {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    width: 15%;
    margin: 0 auto;
}
  
#changes:hover {
    background: black;
    cursor: pointer;
}
  
#changes:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

#copyright {
    font-size: small;
    color: gray;
    margin-top: 20px;
}

.animate-me {
	opacity: 0;
	-webkit-transform: translateX(-40px);
	-moz-transform: translateX(-40px);
	-ms-transform: translateX(-40px);
	-o-transform: translateX(-40px);
	transform: translateX(-40px);
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

.visible {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

a {
    text-decoration: none;
    color: purple;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f1f1f1;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
}
  
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#separator {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10%;
    text-align: center;
    margin: 0 auto;
}

footer {
    margin: 1rem;
}

#lightweightText {
    margin-bottom: 1rem;
}

#h1 {
    color: black;
}

#downloads {
	margin: 0 auto;
	margin-top: 1%;
	display: flex;
	flex-direction: row;
}

#prebuilt {
	margin-right: 2%;
}